@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

@layer components {
  .base {
    @apply w-[90%] pt-[130px] py-10 mx-auto;
  }
}

@layer base {
  .heading-1 {
    @apply font-bold sm:text-[28px] text-[22px];
  }

  .heading-2 {
    @apply font-bold sm:text-[24px] text-[20px];
  }

  .heading-3 {
    @apply font-bold sm:text-[18px] text-[16px];
  }

  .heading-4 {
    @apply font-semibold sm:text-[16px] text-[14px];
  }

  .paragraph {
    @apply font-medium sm:text-[16px] text-[14px];
  }
}

.slick-slide {
  @apply p-2;
}
